@model PizzaBox.Client.Models.CustomerViewModel

<p><h3>Here is your order history</h3></p>

<section>
    @foreach (var order in Model.Orders)
    {
        <p>
            Order Total: @order.Price.ToString("C2")
            <br>
            Submitted to @order.StoreSubmitted.Name at @order.PurchaseDate.ToLocalTime().ToString("G")

            @foreach (var pizza in order.Pizzas)
            {
                <p>
                    @pizza.Name: @pizza.Crust.Name, @pizza.Size.Name - @pizza.Price.ToString("C2")
                    <br>
                    Toppings: @string.Join(", ", pizza.Toppings.Select(x => x.Name))
                </p>
            }
            --------------------------------------------------
        </p>
    }
</section>

<section>
    <a class="btn btn-primary" asp-controller="customer" asp-action="home">Ok</a>
</section>